[Desktop Entry]
Type=Application
Name=Wordle GTK
Comment=A Wordle clone in GTK 4
Exec=/app/bin/wordle
Icon=com.rodrigotavares.Wordle
Terminal=false
Categories=Application;Game;
