.guess-frame {
  border-radius: 0;
  font-size: x-large;
  font-weight: bold;
}

.perfect {
  background-color: #57e38985;
}

.partial {
  background-color: #f8e45c85;
}

.absent {
  background-color: #77767b85;
}
